/*
* @components   Button
*/
$btn-bg: (
		_blue-dark: $blue-dark,
		_blue: $blue,
		//_gray-custom: lighten(saturate(adjust-hue($gray, 0.0000), 0.0000), 22.3529)
		_gray-custom: $gray-lighter
);
$btn-size: (
		_small: 77px,
		_normal: 100px,
		_fullwidth: 100%
);

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	&_margin{
		margin: 10px;
	}
	&__icon{
		width: 19px;
		height: 17px;
		margin-right: 10px;
		+ *{
			margin-top: 4px;
		}
	}
	&__text{
		color: $white;
		font-size: 13px;
		line-height: 1;
	}

	$btn-attrSize: _small _normal _fullwidth;
	@each $attr in $btn-attrSize{
		&[data-size="#{$attr}"]{
			width: map_get($btn-size, #{$attr});
		}
	}

	$btn-attrBg: _blue-dark _blue _gray-custom;
	@each $attr in $btn-attrBg{
		&[data-bg="#{$attr}"]{
			background: map_get($btn-bg, #{$attr});
		}
		&[data-bg="#{$attr}"]:hover{
			background: lighten(map_get($btn-bg, #{$attr}), 5%);
		}
	}
}

.button-wraper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: -10px;
	margin-right: -10px;
}