/*
* @components   colorTempl
*/
$colorTempl-colors: (
		_gray-lighter : $gray-lighter,
		_gray-light : $gray-light,
		_gray: $gray,
		_gray-dark: $gray-dark,
		_gray-darker: $gray-darker,
		_gray-darkest: $gray-darkest,
		_blue-dark: $blue-dark,
		_blue: $blue,
		_blue-light: $blue-light
);

.colorTempl-wraper{
	width: 100%;
	margin-left: -10px;
	margin-right: -10px;
	@include clearfix();
}

.colorTempl{
	float: left;
	width: calc(20% - 20px);
	padding: 10px;
	@include clearfix();
	&__bg{
		float: left;
		width: 50px;
		height: 50px;
		border: 1px solid $gray-light;
		$layers-attr: _gray-lighter _gray-light _gray _gray-dark _gray-darker _gray-darkest _blue-dark _blue _blue-light;
		@each $attr in $layers-attr{
			&[data-name="#{$attr}"] {
				background: map_get($layers-colors, #{$attr});
			}
		}
	}
	&__name{
		vertical-align: middle;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(100% - 60px);
		padding-left: 10px;
		padding-top: calc((50px - 20px) / 2);
		font-size: 16px;
		line-height: 20px;
	}
}